{
  "plugins": [
    "@vue/babel-plugin-transform-vue-jsx",
    "@babel/plugin-syntax-dynamic-import",
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ]
  ],
  "env": {
    "browser": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "chrome": "67",
              "ie": "11"
            },
            "useBuiltIns": "usage",
            "corejs": 3
          }
        ]
      ]
    },
    "node": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    }
  }
}
