{
  "root": true,
  "env": {
    "node": true
  },
  "extends": ["plugin:prettier/recommended", "plugin:vue/essential"],
  "parserOptions": {
    "parser": "babel-eslint",
    "sourceType": "module"
  },
  "rules": {}
}
